<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="testBean" class="cl.median.trace.web.TestBean">
        <property name="nombre" value="miguel"/>
        <property name="edad" value="12"/>
        <property name="masculino" value="true"/>
    </bean>
    
    <bean id="addVueloBean" 
          class="cl.median.trace.web.bean.add.AddVueloBean"
          scope="session">
        <!--<property name="vueloDAO" ref="vueloDAO"/>-->
    </bean>
    
    <!--<bean id="vueloDAO" class="cl.median.trace.data.business.dao.jpa.table.JPAVueloDAO"/>-->
    
    <!--<import resource="classpath:dataSourceContext.xml" />-->
    <import resource="classpath:dataSourceContextDelta.xml" />
    <import resource="classpath:modelContextDelta.xml" />
    
</beans>
